.rectangle1 {
    height: 40px;
    width: 100%;
    background-color: #020091;
}

.main {
   margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 15px; 
}

.rectangle2 {
    height:480px; 
    width: 90%;
    background-color: #8d0085;
}

.rectangle3 {
    background-color: #00d100;
    height:480px; 
    width: 1800px;
}

.rectangle4 {
    height: 480px;
    width: 90%;
    background-color: #FF0000;
}

.rectangle5 {
    margin-top: 8px;
    height: 40px;
    width: 100%;
    background-color: #0900FF;
}

  